In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymongo

### Store CSV into DataFrame

In [6]:
csv_file = "2019_2020Players.csv"
players2019_20_df = pd.read_csv(csv_file)
players2019_20_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches\
0,1,Antonio Ad\'e1n\\Antonio-Adan,es ESP,GK,Atl\'e9tico Madrid,32,1987,1,0,25,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches\
1,2,Aritz Aduriz\\Aritz-Aduriz,es ESP,FW,Athletic Club,38,1981,14,0,208,...,1.3,0.6,0.0,0.6,0.58,0.00,0.58,0.25,0.25,Matches\
2,3,Lumor Agbenyenu\\Lumor-Agbenyenu,gh GHA,DF,Mallorca,22,1996,23,20,1805,...,0.3,0.3,1.9,2.3,0.02,0.10,0.11,0.02,0.11,Matches\
3,4,Martin Agirregabiria\\Martin-Agirregabiria,es ESP,DF,Alav\'e9s,23,1996,31,23,2099,...,0.9,0.9,1.0,1.9,0.04,0.04,0.08,0.04,0.08,Matches\
4,5,Joseph Aidoo\\Joseph-Aidoo,gh GHA,DF,Celta Vigo,23,1995,32,27,2502,...,0.8,0.8,0.8,1.7,0.03,0.03,0.06,0.03,0.06,Matches\

In [5]:
csv_file2 = "2019_2020Squad.csv"
squad_data_df = pd.read_csv(csv_file2)
squad_data_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Real Madrid,38.0,26.0,9.0,3.0,70.0,25.0,45.0,87.0,63.4,28.4,35.0,0.92,"45,833",Karim Benzema - 21,Thibaut Courtois,→ UEFA Champions League via league finish
2,2.0,Barcelona,38.0,25.0,7.0,6.0,86.0,38.0,48.0,82.0,66.2,36.0,30.2,0.79,"54,223",Lionel Messi - 25,Marc-André ter Stegen,→ UEFA Champions League via league finish
3,3.0,Atlético Madrid,38.0,18.0,16.0,4.0,51.0,27.0,24.0,70.0,52.6,30.8,21.8,0.57,"42,236",Álvaro Morata - 12,Jan Oblak,→ UEFA Champions League via league finish
4,4.0,Sevilla,38.0,19.0,13.0,6.0,54.0,34.0,20.0,70.0,47.1,33.6,13.6,0.36,"25,016",Lucas Ocampos - 14,Tomáš Vaclík,→ UEFA Champions League via league finish

In [6]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [11]:
pd.read_sql_query('select * from customer_location', con=client).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York