In [64]:
import pandas as pd

In [65]:
url = 'https://fbref.com/en/comps/12/10731/2020-2021-La-Liga-Stats'

In [66]:
tables = pd.read_html(url)
tables

[    Rk            Squad  MP   W   D   L  GF  GA  GD  Pts    xG   xGA   xGD  \
 0    1  Atlético Madrid  38  26   8   4  67  25  42   86  52.4  32.7  19.6
 1    2      Real Madrid  38  25   9   4  67  28  39   84  61.6  36.5  25.2
 2    3        Barcelona  38  24   7   7  85  38  47   79  78.9  39.6  39.3
 3    4          Sevilla  38  24   5   9  53  33  20   77  50.9  35.0  15.9
 4    5    Real Sociedad  38  17  11  10  59  38  21   62  60.4  36.6  23.8
 5    6            Betis  38  17  10  11  50  50   0   61  46.0  45.5   0.5
 6    7       Villarreal  38  15  13  10  60  44  16   58  58.0  43.5  14.5
 7    8       Celta Vigo  38  14  11  13  55  57  -2   53  47.7  49.5  -1.8
 8    9          Granada  38  13   7  18  47  65 -18   46  39.5  53.7 -14.2
 9   10    Athletic Club  38  11  13  14  46  42   4   46  44.4  36.3   8.1
 10  11          Osasuna  38  11  11  16  37  48 -11   44  37.6  51.3 -13.7
 11  12            Cádiz  38  11  11  16  36  58 -22   44  34.0  55.0 -21.0
 12  13         Valencia  38  10  13  15  50  53  -3   43  43.9  54.0 -10.2
 13  14          Levante  38   9  14  15  46  57 -11   41  41.0  53.9 -13.0
 14  15           Getafe  38   9  11  18  28  43 -15   38  32.7  40.3  -7.6
 15  16           Alavés  38   9  11  18  36  57 -21   38  42.4  50.8  -8.3
 16  17            Elche  38   8  12  18  34  55 -21   36  30.5  58.4 -27.9
 17  18           Huesca  38   7  13  18  34  53 -19   34  35.3  44.3  -9.0
 18  19       Valladolid  38   5  16  17  34  57 -23   31  37.1  51.8 -14.7
 19  20            Eibar  38   6  12  20  29  52 -23   30  41.5  47.0  -5.6

     xGD/90  Attendance                     Top Team Scorer  \
 0     0.52         NaN                    Luis Suárez - 21
 1     0.66         NaN                  Karim Benzema - 23
 2     1.03         NaN                   Lionel Messi - 30
 3     0.42         NaN              Youssef En-Nesyri - 18
 4     0.63         NaN                 Alexander Isak - 17
 5     0.01         NaN                 Borja Iglesias - 11
 6     0.38       253.0                  Gerard Moreno - 23
 7    -0.05        91.0                     Iago Aspas - 14
 8    -0.37         NaN                 Roberto Soldado - 9
 9     0.21         NaN                  Álex Berenguer - 8
 10   -0.36         NaN                   Ante Budimir - 11
 11   -0.55         NaN                  Álvaro Negredo - 8
 12   -0.27       142.0                   Carlos Soler - 11
 13   -0.34         NaN              José Luis Morales - 13
 14   -0.20         NaN     Ángel Rodríguez, Jaime Mata - 5
 15   -0.22         NaN                         Joselu - 11
 16   -0.73       185.0                      Lucas Boyé - 7
 17   -0.24         NaN                       Rafa Mir - 13
 18   -0.39         NaN  Shon Weissman, Fabián Orellana - 6
 19   -0.15         NaN                           Kike - 12

                Goalkeeper                                      Notes
 0               Jan Oblak  → UEFA Champions League via league finish
 1        Thibaut Courtois  → UEFA Champions League via league finish
 2   Marc-André ter Stegen  → UEFA Champions League via league finish
 3          Yassine Bounou  → UEFA Champions League via league finish
 4             Álex Remiro     → UEFA Europa League via league finish
 5           Claudio Bravo   → UEFA Europa League via league finish 1
 6           Sergio Asenjo                                        NaN
 7             Iván Villar                                        NaN
 8               Rui Silva                                        NaN
 9              Unai Simón                                        NaN
 10         Sergio Herrera                                        NaN
 11       Jeremías Ledesma                                        NaN
 12         Jaume Doménech                                        NaN
 13        Aitor Fernández                                        NaN
 14            David Soria                                        NaN
 15       Fernando Pacheco                                        NaN
 16            Édgar Badía                                        NaN
 17       Álvaro Fernández                                  Relegated
 18            Jordi Masip                                  Relegated
 19        Marko Dmitrović                                  Relegated  ,
    Unnamed: 0_level_0 Unnamed: 1_level_0 Home                             ...  \
                    Rk              Squad   MP   W  D   L  GF  GA  GD Pts  ...
 0                   1    Atlético Madrid   19  15  3   1  41  11  30  48  ...
 1                   2        Real Madrid   19  13  3   3  33  13  20  42  ...
 2                   3          Barcelona   19  11  5   3  44  20  24  38  ...
 3                   4            Sevilla   19  14  1   4  27  11  16  43  ...
 4                   5      Real Sociedad   19   9  6   4  34  21  13  33  ...
 5                   6              Betis   19  10  5   4  27  21   6  35  ...
 6                   7         Villarreal   19   8  6   5  29  23   6  30  ...
 7                   8         Celta Vigo   19   9  3   7  30  30   0  30  ...
 8                   9            Granada   19   9  4   6  25  25   0  31  ...
 9                  10      Athletic Club   19   8  6   5  29  19  10  30  ...
 10                 11            Osasuna   19   7  5   7  21  23  -2  26  ...
 11                 12              Cádiz   19   5  5   9  17  30 -13  20  ...
 12                 13           Valencia   19   8  7   4  34  23  11  31  ...
 13                 14            Levante   19   5  9   5  27  30  -3  24  ...
 14                 15             Getafe   19   6  6   7  15  13   2  24  ...
 15                 16             Alavés   19   6  6   7  21  25  -4  24  ...
 16                 17              Elche   19   5  8   6  18  23  -5  23  ...
 17                 18             Huesca   19   5  7   7  17  21  -4  22  ...
 18                 19         Valladolid   19   3  7   9  19  30 -11  16  ...
 19                 20              Eibar   19   2  7  10  12  21  -9  13  ...

    Away
       L  GF  GA  GD Pts Pts/G    xG   xGA   xGD xGD/90
 0     3  26  14  12  38  2.00  23.3  15.7   7.6   0.40
 1     1  34  15  19  42  2.21  33.7  20.1  13.5   0.71
 2     4  41  18  23  41  2.16  36.4  19.3  17.1   0.90
 3     5  26  22   4  34  1.79  24.2  18.8   5.5   0.29
 4     6  25  17   8  29  1.53  26.9  18.4   8.5   0.45
 5     7  23  29  -6  26  1.37  21.6  23.7  -2.1  -0.11
 6     5  31  21  10  28  1.47  26.6  23.8   2.8   0.15
 7     6  25  27  -2  23  1.21  20.6  23.5  -2.8  -0.15
 8    12  22  40 -18  15  0.79  17.8  33.2 -15.4  -0.81
 9     9  17  23  -6  16  0.84  17.9  21.3  -3.3  -0.18
 10    9  16  25  -9  18  0.95  17.8  26.5  -8.7  -0.46
 11    7  19  28  -9  24  1.26  17.2  28.4 -11.2  -0.59
 12   11  16  30 -14  12  0.63  18.6  26.4  -7.8  -0.41
 13   10  19  27  -8  17  0.89  18.1  29.0 -10.9  -0.58
 14   11  13  30 -17  14  0.74  16.9  25.1  -8.2  -0.43
 15   11  15  32 -17  14  0.74  19.0  27.3  -8.3  -0.44
 16   12  16  32 -16  13  0.68  14.5  28.8 -14.3  -0.75
 17   11  17  32 -15  12  0.63  17.8  24.9  -7.1  -0.38
 18    8  15  27 -12  15  0.79  16.2  26.4 -10.2  -0.53
 19   10  17  31 -14  17  0.89  20.8  29.2  -8.4  -0.44

 [20 rows x 28 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                 Squad               # Pl                Age
 0              Alavés                 30               28.7
 1       Athletic Club                 27               26.6
 2     Atlético Madrid                 25               27.3
 3           Barcelona                 25               26.4
 4               Betis                 25               27.9
 5               Cádiz                 34               28.8
 6          Celta Vigo                 30               26.6
 7               Eibar                 30               28.2
 8               Elche                 30               28.1
 9              Getafe                 31               26.7
 10            Granada                 34               27.4
 11             Huesca                 27               28.0
 12            Levante                 29               28.0
 13            Osasuna                 28               27.9
 14        Real Madrid                 30               27.9
 15      Real Sociedad                 30               25.0
 16            Sevilla                 26               28.1
 17           Valencia                 30               25.2
 18         Valladolid                 32               28.1
 19         Villarreal                 29               28.0

    Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                  Poss           MP Starts   Min   90s         Gls Ast  ...
 0                42.7           38    418  3420  38.0          35  21  ...
 1                49.8           38    418  3420  38.0          43  31  ...
 2                52.4           38    418  3420  38.0          65  54  ...
 3                65.8           38    418  3420  38.0          80  51  ...
 4                53.9           38    418  3420  38.0          50  35  ...
 5                34.3           38    418  3420  38.0          33  16  ...
 6                53.7           38    418  3420  38.0          55  39  ...
 7                49.6           38    418  3420  38.0          29  20  ...
 8                47.6           38    418  3420  38.0          33  25  ...
 9                42.8           38    418  3420  38.0          27  14  ...
 10               41.0           38    418  3420  38.0          46  30  ...
 11               48.3           38    418  3420  38.0          32  23  ...
 12               52.4           38    418  3420  38.0          45  35  ...
 13               43.1           38    418  3420  38.0          36  25  ...
 14               59.7           38    418  3420  38.0          64  53  ...
 15               55.1           38    418  3420  38.0          58  39  ...
 16               61.2           38    418  3420  38.0          52  36  ...
 17               46.9           38    418  3420  38.0          48  35  ...
 18               45.1           38    418  3420  38.0          34  21  ...
 19               55.6           38    418  3420  38.0          57  33  ...

    Per 90 Minutes Expected                     Per 90 Minutes              \
            G+A-PK       xG  npxG    xA npxG+xA             xG    xA xG+xA
 0            1.34     42.4  36.5  25.5    62.0           1.12  0.67  1.79
 1            1.84     44.4  40.7  31.1    71.8           1.17  0.82  1.99
 2            3.00     52.4  46.8  37.8    84.6           1.38  0.99  2.37
 3            3.34     78.9  72.6  57.4   130.0           2.08  1.51  3.59
 4            2.03     46.0  37.8  29.9    67.7           1.21  0.79  2.00
 5            1.18     34.0  31.0  19.0    50.0           0.89  0.50  1.39
 6            2.29     47.7  42.4  33.2    75.6           1.25  0.87  2.13
 7            1.18     41.5  34.7  26.2    60.8           1.09  0.69  1.78
 8            1.47     30.5  28.2  21.9    50.1           0.80  0.58  1.38
 9            1.00     32.7  28.9  20.3    49.2           0.86  0.53  1.39
 10           1.92     39.5  35.9  23.8    59.6           1.04  0.63  1.67
 11           1.37     35.3  32.5  23.8    56.2           0.93  0.63  1.55
 12           2.03     41.0  36.4  28.5    64.9           1.08  0.75  1.83
 13           1.47     37.6  33.2  23.4    56.7           0.99  0.62  1.61
 14           3.00     61.6  59.4  46.2   105.5           1.62  1.21  2.84
 15           2.32     60.4  51.6  39.2    90.7           1.59  1.03  2.62
 16           2.16     50.9  45.6  34.8    80.4           1.34  0.92  2.26
 17           1.97     43.9  36.4  27.2    63.6           1.15  0.72  1.87
 18           1.26     37.1  31.2  22.1    53.3           0.98  0.58  1.56
 19           2.05     58.0  48.3  40.5    88.9           1.53  1.07  2.59


     npxG npxG+xA
 0   0.96    1.63
 1   1.07    1.89
 2   1.23    2.23
 3   1.91    3.42
 4   1.00    1.78
 5   0.82    1.31
 6   1.11    1.99
 7   0.91    1.60
 8   0.74    1.32
 9   0.76    1.29
 10  0.94    1.57
 11  0.85    1.48
 12  0.96    1.71
 13  0.87    1.49
 14  1.56    2.78
 15  1.36    2.39
 16  1.20    2.12
 17  0.96    1.67
 18  0.82    1.40
 19  1.27    2.34

 [20 rows x 29 columns],
     Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Squad               # Pl                Age
 0            vs Alavés                 30               27.5
 1     vs Athletic Club                 27               27.6
 2   vs Atlético Madrid                 25               27.5
 3         vs Barcelona                 25               27.4
 4             vs Betis                 25               27.4
 5             vs Cádiz                 34               27.5
 6        vs Celta Vigo                 30               27.4
 7             vs Eibar                 30               27.5
 8             vs Elche                 30               27.4
 9            vs Getafe                 31               27.4
 10          vs Granada                 34               27.6
 11           vs Huesca                 27               27.3
 12          vs Levante                 29               27.4
 13          vs Osasuna                 28               27.4
 14      vs Real Madrid                 30               27.5
 15    vs Real Sociedad                 30               27.4
 16          vs Sevilla                 26               27.3
 17         vs Valencia                 30               27.6
 18       vs Valladolid                 32               27.4
 19       vs Villarreal                 29               27.5

    Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                  Poss           MP Starts   Min   90s         Gls Ast  ...
 0                57.3           38    418  3420  38.0          57  44  ...
 1                50.2           38    418  3420  38.0          41  29  ...
 2                47.6           38    418  3420  38.0          22  15  ...
 3                34.2           38    418  3420  38.0          36  20  ...
 4                46.1           38    418  3420  38.0          47  31  ...
 5                65.7           38    418  3420  38.0          57  41  ...
 6                46.3           38    418  3420  38.0          56  37  ...
 7                50.4           38    418  3420  38.0          52  40  ...
 8                52.4           38    418  3420  38.0          54  43  ...
 9                57.2           38    418  3420  38.0          40  26  ...
 10               59.0           38    418  3420  38.0          64  41  ...
 11               51.7           38    418  3420  38.0          51  37  ...
 12               47.6           38    418  3420  38.0          55  42  ...
 13               56.9           38    418  3420  38.0          45  31  ...
 14               40.3           38    418  3420  38.0          27  17  ...
 15               44.9           38    418  3420  38.0          37  24  ...
 16               38.8           38    418  3420  38.0          31  20  ...
 17               53.1           38    418  3420  38.0          51  29  ...
 18               54.9           38    418  3420  38.0          57  44  ...
 19               44.4           38    418  3420  38.0          42  25  ...

    Per 90 Minutes Expected                     Per 90 Minutes              \
            G+A-PK       xG  npxG    xA npxG+xA             xG    xA xG+xA
 0            2.58     50.8  48.5  37.0    85.5           1.34  0.97  2.31
 1            1.71     36.3  31.9  24.6    56.5           0.96  0.65  1.60
 2            0.95     32.7  29.7  23.2    52.9           0.86  0.61  1.47
 3            1.34     39.6  35.8  24.2    60.0           1.04  0.64  1.68
 4            1.84     45.5  38.0  29.6    67.7           1.20  0.78  1.98
 5            2.34     55.0  47.5  38.1    85.6           1.45  1.00  2.45
 6            2.26     49.5  43.4  32.5    76.0           1.30  0.86  2.16
 7            2.34     47.0  43.2  33.8    77.0           1.24  0.89  2.13
 8            2.39     58.4  51.2  43.2    94.4           1.54  1.14  2.67
 9            1.55     40.3  34.1  25.0    59.1           1.06  0.66  1.72
 10           2.61     53.7  44.8  34.6    79.4           1.41  0.91  2.32
 11           2.18     44.3  40.7  29.7    70.4           1.17  0.78  1.95
 12           2.47     53.9  51.0  38.7    89.8           1.42  1.02  2.44
 13           1.87     51.3  45.4  34.8    80.2           1.35  0.92  2.27
 14           0.97     36.5  30.4  23.8    54.2           0.96  0.63  1.59
 15           1.53     36.6  32.8  24.4    57.3           0.96  0.64  1.61
 16           1.24     35.0  30.6  20.5    51.1           0.92  0.54  1.46
 17           1.97     54.0  47.8  32.7    80.4           1.42  0.86  2.28
 18           2.50     51.8  46.5  35.7    82.1           1.36  0.94  2.30
 19           1.58     43.5  36.7  25.4    62.0           1.14  0.67  1.81


     npxG npxG+xA
 0   1.28    2.25
 1   0.84    1.49
 2   0.78    1.39
 3   0.94    1.58
 4   1.00    1.78
 5   1.25    2.25
 6   1.14    2.00
 7   1.14    2.03
 8   1.35    2.48
 9   0.90    1.56
 10  1.18    2.09
 11  1.07    1.85
 12  1.34    2.36
 13  1.19    2.11
 14  0.80    1.43
 15  0.86    1.51
 16  0.80    1.34
 17  1.26    2.12
 18  1.22    2.16
 19  0.97    1.63

 [20 rows x 29 columns],
    Unnamed: 0_level_0 Unnamed: 1_level_0 Playing Time                     \
                 Squad               # Pl           MP Starts   Min   90s
 0              Alavés                  2           38     38  3420  38.0
 1       Athletic Club                  2           38     38  3420  38.0
 2     Atlético Madrid                  1           38     38  3420  38.0
 3           Barcelona                  2           38     38  3420  38.0
 4               Betis                  2           38     38  3420  38.0
 5               Cádiz                  3           38     38  3420  38.0
 6          Celta Vigo                  2           38     38  3418  38.0
 7               Eibar                  2           38     38  3420  38.0
 8               Elche                  2           38     38  3420  38.0
 9              Getafe                  2           38     38  3420  38.0
 10            Granada                  3           38     38  3420  38.0
 11             Huesca                  2           38     38  3420  38.0
 12            Levante                  3           38     38  3420  38.0
 13            Osasuna                  3           38     38  3415  38.0
 14        Real Madrid                  1           38     38  3420  38.0
 15      Real Sociedad                  1           38     38  3420  38.0
 16            Sevilla                  2           38     38  3420  38.0
 17           Valencia                  2           38     38  3420  38.0
 18         Valladolid                  2           38     38  3420  38.0
 19         Villarreal                  2           38     38  3420  38.0

    Performance                   ...                       Penalty Kicks      \
             GA  GA90 SoTA Saves  ...   W   D   L  CS   CS%         PKatt PKA
 0           57  1.50  143    87  ...   9  11  18   9  23.7             3   3
 1           42  1.11  107    71  ...  11  13  14   9  23.7             6   5
 2           25  0.66  120    97  ...  26   8   4  18  47.4             4   1
 3           38  1.00  123    91  ...  24   7   7  14  36.8             5   5
 4           50  1.32  125    85  ...  17  10  11  13  34.2            10   8
 5           58  1.53  139    88  ...  11  11  16  10  26.3            10   9
 6           57  1.50  132    81  ...  14  11  13   9  23.7             8   7
 7           52  1.37  133    82  ...   6  12  20   9  23.7             5   3
 8           55  1.45  156   107  ...   8  12  18   7  18.4            10   6

In [67]:
league_table_df = tables[0]
league_table_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Atlético Madrid,38,26,8,4,67,25,42,86,52.4,32.7,19.6,0.52,NaN,Luis Suárez - 21,Jan Oblak,→ UEFA Champions League via league finish
1,2,Real Madrid,38,25,9,4,67,28,39,84,61.6,36.5,25.2,0.66,NaN,Karim Benzema - 23,Thibaut Courtois,→ UEFA Champions League via league finish
2,3,Barcelona,38,24,7,7,85,38,47,79,78.9,39.6,39.3,1.03,NaN,Lionel Messi - 30,Marc-André ter Stegen,→ UEFA Champions League via league finish
3,4,Sevilla,38,24,5,9,53,33,20,77,50.9,35.0,15.9,0.42,NaN,Youssef En-Nesyri - 18,Yassine Bounou,→ UEFA Champions League via league finish
4,5,Real Sociedad,38,17,11,10,59,38,21,62,60.4,36.6,23.8,0.63,NaN,Alexander Isak - 17,Álex Remiro,→ UEFA Europa League via league finish

In [68]:
columnsplit=league_table_df['Top Team Scorer'].str.split("-", expand=True)
league_table_df=league_table_df.assign(Top_Scorer=columnsplit[0],Score=columnsplit[1])
league_table_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Top_Scorer,Score
0,1,Atlético Madrid,38,26,8,4,67,25,42,86,52.4,32.7,19.6,0.52,NaN,Luis Suárez - 21,Jan Oblak,→ UEFA Champions League via league finish,Luis Suárez,21
1,2,Real Madrid,38,25,9,4,67,28,39,84,61.6,36.5,25.2,0.66,NaN,Karim Benzema - 23,Thibaut Courtois,→ UEFA Champions League via league finish,Karim Benzema,23
2,3,Barcelona,38,24,7,7,85,38,47,79,78.9,39.6,39.3,1.03,NaN,Lionel Messi - 30,Marc-André ter Stegen,→ UEFA Champions League via league finish,Lionel Messi,30
3,4,Sevilla,38,24,5,9,53,33,20,77,50.9,35.0,15.9,0.42,NaN,Youssef En-Nesyri - 18,Yassine Bounou,→ UEFA Champions League via league finish,Youssef En,Nesyri
4,5,Real Sociedad,38,17,11,10,59,38,21,62,60.4,36.6,23.8,0.63,NaN,Alexander Isak - 17,Álex Remiro,→ UEFA Europa League via league finish,Alexander Isak,17

In [69]:
new_league_table_df=league_table_df.drop(['Top Team Scorer','Notes'] , axis=1)
new_league_table_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Goalkeeper,Top_Scorer,Score
0,1,Atlético Madrid,38,26,8,4,67,25,42,86,52.4,32.7,19.6,0.52,NaN,Jan Oblak,Luis Suárez,21
1,2,Real Madrid,38,25,9,4,67,28,39,84,61.6,36.5,25.2,0.66,NaN,Thibaut Courtois,Karim Benzema,23
2,3,Barcelona,38,24,7,7,85,38,47,79,78.9,39.6,39.3,1.03,NaN,Marc-André ter Stegen,Lionel Messi,30
3,4,Sevilla,38,24,5,9,53,33,20,77,50.9,35.0,15.9,0.42,NaN,Yassine Bounou,Youssef En,Nesyri
4,5,Real Sociedad,38,17,11,10,59,38,21,62,60.4,36.6,23.8,0.63,NaN,Álex Remiro,Alexander Isak,17

In [70]:
new_league_table_df=new_league_table_df[['Rk','Squad','MP','W','D','L','GF','GA','GD',
                                        'Pts']]
new_league_table_df.head()

   Rk            Squad  MP   W   D   L  GF  GA  GD  Pts
0   1  Atlético Madrid  38  26   8   4  67  25  42   86
1   2      Real Madrid  38  25   9   4  67  28  39   84
2   3        Barcelona  38  24   7   7  85  38  47   79
3   4          Sevilla  38  24   5   9  53  33  20   77
4   5    Real Sociedad  38  17  11  10  59  38  21   62

In [79]:
len(new_league_table_df)

20

In [71]:
csv_file = "sportsref_20_21.csv"
player_standard_stats_df = pd.read_csv(csv_file, header=1, encoding='maccentraleurope')
player_standard_stats_df.head(200)

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,1,Sabit Abdulai,gh GHA,MF,Getafe,21,1999,3,0,60,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Marcos AcuĖa,ar ARG,DF,Sevilla,28,1991,30,26,"2,330",...,1.1,1.1,2.8,4.0,0.04,0.11,0.15,0.04,0.15,Matches
2,3,Bobby Adekanye,nl NED,"FW,MF",Cádiz,21,1999,3,0,36,...,0.2,0.2,0.0,0.2,0.43,0.00,0.43,0.43,0.43,Matches
3,4,Martin Agirregabiria,es ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",...,0.2,0.2,0.9,1.1,0.01,0.05,0.06,0.01,0.06,Matches
4,5,Joseph Aidoo,gh GHA,DF,Celta Vigo,24,1995,25,14,"1,289",...,0.8,0.8,0.6,1.4,0.06,0.04,0.10,0.06,0.10,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Unai García,es ESP,DF,Osasuna,28,1992,17,13,"1,242",...,0.5,0.5,0.2,0.7,0.04,0.02,0.05,0.04,0.05,Matches
196,197,Mario Gaspar,es ESP,DF,Villarreal,29,1990,24,21,"1,851",...,0.8,0.8,1.7,2.5,0.04,0.08,0.12,0.04,0.12,Matches
197,198,Paulo Gazzaniga,ar ARG,GK,Elche,28,1992,8,8,720,...,0.0,0.0,0.1,0.1,0.00,0.01,0.01,0.00,0.01,Matches
198,199,David Gil,es ESP,GK,Cádiz,26,1994,4,4,360,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
199,200,Álvaro Giménez,es ESP,"FW,MF",Cádiz,29,1991,11,3,407,...,1.4,1.4,0.0,1.4,0.31,0.01,0.32,0.31,0.32,Matches

In [72]:
columnsplit=player_standard_stats_df['Nation'].str.split(" ", expand=True)
player_standard_stats_df=player_standard_stats_df.assign(Nation=columnsplit[1])
player_standard_stats_df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xG,npxG,xA,npxG+xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA.1,Matches
0,1,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,"2,330",...,1.1,1.1,2.8,4.0,0.04,0.11,0.15,0.04,0.15,Matches
2,3,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,...,0.2,0.2,0.0,0.2,0.43,0.00,0.43,0.43,0.43,Matches
3,4,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",...,0.2,0.2,0.9,1.1,0.01,0.05,0.06,0.01,0.06,Matches
4,5,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,"1,289",...,0.8,0.8,0.6,1.4,0.06,0.04,0.10,0.06,0.10,Matches

In [73]:
new_player_df=player_standard_stats_df[['Player','Nation','Pos','Squad','Age','Born','MP','Starts',
                                       'Min','90s','Gls','Ast','PK','CrdY','CrdR']]
new_player_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,PK,CrdY,CrdR
0,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,0.7,0,0,0,1,0
1,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,"2,330",25.9,1,2,0,5,0
2,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,0.4,0,0,0,0,0
3,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",17.3,0,1,0,1,0
4,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,"1,289",14.3,0,0,0,3,0

In [ ]:
# columnsplit=new_player_df['Nation'].str.split(" ", expand=True)
# new_player_df=new_player_df.assign(Nation=columnsplit[1])
# new_player_df.head()

In [74]:
new_player_df=new_player_df.drop('90s',axis=1 )
new_player_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,CrdY,CrdR
0,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,0,0,0,1,0
1,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,"2,330",1,2,0,5,0
2,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,0,0,0,0,0
3,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,"1,558",0,1,0,1,0
4,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,"1,289",0,0,0,3,0

In [75]:
new_player_df['Min']=new_player_df['Min'].str.replace(',','')
new_player_df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,CrdY,CrdR
0,Sabit Abdulai,GHA,MF,Getafe,21,1999,3,0,60,0,0,0,1,0
1,Marcos AcuĖa,ARG,DF,Sevilla,28,1991,30,26,2330,1,2,0,5,0
2,Bobby Adekanye,NED,"FW,MF",Cádiz,21,1999,3,0,36,0,0,0,0,0
3,Martin Agirregabiria,ESP,"DF,MF",Alavés,24,1996,26,16,1558,0,1,0,1,0
4,Joseph Aidoo,GHA,DF,Celta Vigo,24,1995,25,14,1289,0,0,0,3,0

In [76]:
# Connect to local database

from sqlalchemy import create_engine
rds_connection_string = "postgres:postgres@localhost:5432/la_liga_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [77]:
#Check for tables
engine.table_names()

['league_table', 'player_standard_stats']

In [78]:
# Use pandas to load csv into database
new_league_table_df.to_sql(name='league_table', con=engine, if_exists='append', index=False)
new_player_df.to_sql(name='player_standard_stats', con=engine, if_exists='append', index=False)

In [99]:
# #querying 
Join_df=pd.read_sql_query('select * from league_table as lt join player_standard_stats as ps on lt."Squad"=ps."Squad"', con=engine)
Join_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Age,Born,MP,Starts,Min,Gls,Ast,PK,CrdY,CrdR
0,15,Getafe,38,9,11,18,28,43,-15,38,...,21,1999,3,0,60,0,0,0,1,0
1,4,Sevilla,38,24,5,9,53,33,20,77,...,28,1991,30,26,2330,1,2,0,5,0
2,12,Cádiz,38,11,11,16,36,58,-22,44,...,21,1999,3,0,36,0,0,0,0,0
3,16,Alavés,38,9,11,18,36,57,-21,38,...,24,1996,26,16,1558,0,1,0,1,0
4,8,Celta Vigo,38,14,11,13,55,57,-2,53,...,24,1995,25,14,1289,0,0,0,3,0

In [101]:
New_join_df=Join_df[['Squad','Age','Gls','Ast','CrdY','CrdR']]
New_join_df=New_join_df.iloc[:,1:]
New_join_df.head(10)

        Squad  Age  Gls  Ast  CrdY  CrdR
0      Getafe   21    0    0     1     0
1     Sevilla   28    1    2     5     0
2       Cádiz   21    0    0     0     0
3      Alavés   24    0    1     1     0
4  Celta Vigo   24    0    0     3     0
5       Cádiz   27    1    0     3     1
6       Betis   22    0    0     5     1
7       Elche   18    0    0     0     0
8   Barcelona   31    3    5     9     0
9  Villarreal   34    0    0     7     0

In [104]:
# Join_df.head()
# groupby_squad=Join_df.groupby(['Squad']).mean()

df1 = New_join_df.groupby(['Squad'])['Age'].agg(['mean'])
df1.head()

                      mean
Squad
Alavés           26.000000
Athletic Club    26.736842
Atlético Madrid  25.315789
Barcelona        25.090909
Betis            27.130435

In [107]:
Top_player=Join_df[['Squad','Player','Age','Gls','Ast','CrdY','CrdR']]
Top_player=Top_player.iloc[:,1:]
Top_player.head()

        Squad                Player  Age  Gls  Ast  CrdY  CrdR
0      Getafe         Sabit Abdulai   21    0    0     1     0
1     Sevilla          Marcos AcuĖa   28    1    2     5     0
2       Cádiz        Bobby Adekanye   21    0    0     0     0
3      Alavés  Martin Agirregabiria   24    0    1     1     0
4  Celta Vigo          Joseph Aidoo   24    0    0     3     0

In [111]:
df2 =Top_player.groupby(['Squad','Player'])['Gls'].agg(['max'])
df2.head(10)

                          max
Squad  Player
Alavés Abdallahi Mahmoud    0
       Adrián Marín         0
       Borja Sainz          1
       Burgui               0
       Deyverson            1
       Facundo Pellistri    0
       Fernando Pacheco     0
       Florian Lejeune      1
       IĖigo Córdoba        0
       Javi López           0

In [121]:
df2 = df2.sort_values('max', ascending=False)
df2.head(20)

                                   max
Squad           Player
Barcelona       Lionel Messi        30
Real Madrid     Karim Benzema       23
Villarreal      Gerard Moreno       23
Sevilla         Youssef En-Nesyri   18
Real Sociedad   Alexander Isak      17
Celta Vigo      Iago Aspas          14
Levante         José Luis Morales   13
Huesca          Rafa Mir            13
Barcelona       Antoine Griezmann   13
Levante         Roger Martí         12
Atlético Madrid Marcos Llorente     12
Eibar           Kike                12
Celta Vigo      Santi Mina          12
Alavés          Joselu              11
Betis           Borja Iglesias      11
Real Sociedad   Mikel Oyarzabal     11
Osasuna         Ante Budimir        11
Atlético Madrid Ángel Correa         9
Celta Vigo      Brais Méndez         9
Granada         Jorge Molina         8

In [125]:
reset_df=df2.reset_index()
reset_df.drop_duplicates(['Squad'], keep='first')
reset_df.head(20)

              Squad             Player  max
0         Barcelona       Lionel Messi   30
1       Real Madrid      Karim Benzema   23
2        Villarreal      Gerard Moreno   23
3           Sevilla  Youssef En-Nesyri   18
4     Real Sociedad     Alexander Isak   17
5        Celta Vigo         Iago Aspas   14
6           Levante  José Luis Morales   13
7            Huesca           Rafa Mir   13
8         Barcelona  Antoine Griezmann   13
9           Levante        Roger Martí   12
10  Atlético Madrid    Marcos Llorente   12
11            Eibar               Kike   12
12       Celta Vigo         Santi Mina   12
13           Alavés             Joselu   11
14            Betis     Borja Iglesias   11
15    Real Sociedad    Mikel Oyarzabal   11
16          Osasuna       Ante Budimir   11
17  Atlético Madrid       Ángel Correa    9
18       Celta Vigo       Brais Méndez    9
19          Granada       Jorge Molina    8

In [132]:
TGS_df=reset_df.rename(columns={'Top Goal Scorer':'Goals Scored'})
TGS_df.head(20)

              Squad             Player  Goals Scored
0         Barcelona       Lionel Messi            30
1       Real Madrid      Karim Benzema            23
2        Villarreal      Gerard Moreno            23
3           Sevilla  Youssef En-Nesyri            18
4     Real Sociedad     Alexander Isak            17
5        Celta Vigo         Iago Aspas            14
6           Levante  José Luis Morales            13
7            Huesca           Rafa Mir            13
8         Barcelona  Antoine Griezmann            13
9           Levante        Roger Martí            12
10  Atlético Madrid    Marcos Llorente            12
11            Eibar               Kike            12
12       Celta Vigo         Santi Mina            12
13           Alavés             Joselu            11
14            Betis     Borja Iglesias            11
15    Real Sociedad    Mikel Oyarzabal            11
16          Osasuna       Ante Budimir            11
17  Atlético Madrid       Ángel Correa             9
18       Celta Vigo       Brais Méndez             9
19          Granada       Jorge Molina             8

In [133]:
TGS_df.to_sql(name='Top_Goal_Scorer', con=engine, if_exists='append', index=False)

In [ ]:
# Module used to connect Python with MongoDb
import pymongo

In [ ]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.fbref_db

# database
db = client["fbref_db"]
# collection
league= db["league_table"]

In [ ]:
# Query all students
# Here, db.students refers to the collection 'classroom '
league_table = db.league.find()

# Iterate through each student in the collection
for player in league_table:
    print(player)

In [ ]:
# Insert the Data into Database
# have to do convert the data frame into a dictionary (MongoDB uses JSON format data ) and then insert it into the database. 
# https://www.datasciencelearner.com/insert-pandas-dataframe-into-mongodb/


# data.reset_index(inplace=True)
# data_dict = data.to_dict("records")
# league_table.insert_one({"index":"Sensex","data":data_dict})
# league_table.insert_one(data_dict)